/* overrides of common.css */
.row { height:calc(1rem + var(--9-16ths)); }

p.hi { font-weight:500; }

#x {
  position:relative;
  top:0.25rem;
}
.symBtn {
  margin-left:var(--5-8ths);
}
#save, #revert {
  font-size:1.5rem;
}
#save, #data {
  margin-left:var(--16th);
}
#code {
  padding-right:1px;
}
#info {
  color:var(--medium-blue);
  font-size:1.75rem;
  border:none;
  background-color:transparent;
  margin-left:var(--16th);
}

/* for this page only */
#time {
  width:16ch;
}
#v0, #v1, #v2 {
  width:calc(3ch + 1.5rem);
}
#mid {
  padding-top:0;
  margin-left:var(--5-8ths);
  font-weight:500;
}
#split, #gap {
  width:4.25rem;
  margin-right:var(--8th);
  font-weight:500;  /* matches sidebar */
}
@-moz-document url-prefix() {
  #split:not(:hover, :focus), #gap:not(:hover, :focus) {
    -moz-appearance:textfield;
    width:calc(4.25rem - 1.25rem + var(--8th));
    margin-right:1.25rem;
  }
}
#split + label, #gap + label {
  padding-right:var(--9-16ths);
  color:var(--dark-blue);
  font-weight:500;
}
#split + label, .secs  + label,
#gap   + label {
  position:absolute;
}
.secs + label {
  padding-right:var(--7-16ths);
}
input.secs { /* #t0, #t1, #t1 */
  width:calc(5ch + 1rem);
}
#split:hover + label, #gap:hover + label, .secs:hover + label,
#split:focus + label, #gap:focus + label, .secs:focus + label  {
  visibility:hidden;
}

/* <div> */
#diptych {
  display:grid;
  grid-template-columns:1fr 1fr;
  row-gap:0.5rem;
}
#triptych {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
#left  {
  display:flex;
  justify-content:flex-end;
  text-align:end;
}
#right {
  display:flex;
  border-left:1px solid;
  padding-bottom:0;
}
#sidebar {
  padding:0.25rem 0.5rem;
  margin:0.5rem 0;
  border:1px solid #BBB;
  border-radius:var(--5-16ths);
  background-color:var(--sidebar-white);
}
#placeholder {
  height:calc(1rem + var(--11-16ths)); /* .row height + 2px for borders?? */
}
#divCopy {
  padding:0.75rem 0 0.5rem var(--3-16ths);
  margin-top:var(--9-16ths);
}
#divSave {
  padding:0.5rem 0 0.5rem calc(5ch + var(--3-8ths));
}

/* <button> */
.clear, .lock, .link {
  font-family:"Material Symbols Rounded";
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 1.5rem;
}
.clear, .lock {
  font-size:   1.5rem;
}
.lock, .link{
  border-radius:var(--7-16ths);
}
.clear {
  font-weight:bold;
  margin-right:var(--16th);
  color:#700;
}
.lock {
  align-self:flex-start;
  color:var(--dark-gray);
}
.link {
  font-size:calc(1rem + var(--5-8ths));
  color:var(--medium-blue);
}

.clear:disabled, .lock:disabled {
  font-weight:normal;
  color:#AAA;
  background-color: transparent;
}
.clear:hover:not(:disabled) {
  color:#B00;
  background:radial-gradient(circle at center, #0002 0, #0000 70%);
}
.clear:active:hover{
  color:#D00;
  background:radial-gradient(circle at center, #0044 0, #0000 75%);
}
.lock:hover:not(:disabled),
.link:hover:not(:disabled) {
  color:var(--accent-blue);
  background:radial-gradient(ellipse at center, #0002 0, #0000 80%);
}
.lock:active:hover,
.link:active:hover {
  color:var(--medium-blue);
  background:radial-gradient(ellipse at center, #0044 0, #0000 90%);
}

#linkType {
  margin:0 0.25rem 0 0;
}
#linkPow {
  margin:0 var(--8th) 0 0;
}
.locked {
  color:var(--dark-blue);
}
.linked { /* not necessary with colors the same now... */
  color:var(--medium-blue);
}

/* miscellaneous */
.emph { /* emphasis for sidebar labels */
  color:var(--dark-blue);
  font-weight:500;
}

.mr0 { margin-right: 0 }
.pr0 { padding-right:0 }

.pl1-2 { padding-left:0.5rem; }
.pl1-8 { padding-left:var(--8th); }

.w3 { width:3rem; }
.w4 { width:4rem; }

.lbl-paren {
  font-size:calc(1rem + var(--5-16ths));
  margin:0;
  padding:0;
}