check-box::part(box) {
  width:18px;
  height:15px;
}
/* overrides of common.css */
body {
  padding:var(--3-16ths) 0 var(--7-16ths) var(--3-16ths);
  background-color:#131313;
}

.row { height:calc(1rem + var(--9-16ths)); }

.slash { color:var(--pitch) }

p.hi { font-weight:500; }

#x {
  position:relative;
  top:var(--8th);
}
.symBtn {
  margin-left:var(--5-8ths);
}
#save {
  margin-left:0;
}
#data {
  margin-left:var(--8th);
}
#frames, #duration {
  color:var(--green-blue);
}
#frames:hover, #info:hover {
  color:blue;
}
#info {
  color:var(--medium-blue);
  font-size:1.75rem;
  border:none;
  background-color:transparent;
  margin-left:var(--16th);
}

/* for this page only */
#autoTrip  { margin-right:0.5rem }
#loopByElm { margin-right:0.75rem }
#steps {
  text-align:right;
  margin-left:var(--9-16ths);
}
#v0, #v1, #v2 {
  width:calc(3ch + 1.75rem);
}
#time {
  width:100%;
  accent-color:var(--green-blue);
}
#unit, #comp {
  margin-left:calc(4ch + var(--5-16ths));
}
#unit {
  margin-top: 0.25rem;
  padding-top:var(--8th);
}
#mid {
  padding-top:0;
  margin-left:1ch;
  font-weight:500;
}
#split, #gap {
  width:4.25rem;
  margin-left:var(--8th);
  font-weight:500;  /* matches sidebar */
}
@-moz-document url-prefix() {
  #split:not(:hover, :focus), #gap:not(:hover, :focus) {
    -moz-appearance:textfield;
    width:calc(4.25rem - 1.25rem + var(--8th));
    margin-right:1.25rem;
  }
}
#split + label, #gap + label {
  padding:0;
  font-weight:500;
  color:var(--dark-blue);
}
#split + label, #gap + label,
.secs  + label {
  position:absolute;
}
.secs + label {
  padding-right:var(--7-16ths);
}
input.secs { /* #t0, #t1, #t1 */
  width:calc(5ch + 1.25rem);
}
#split:hover + label, #gap:hover + label, .secs:hover + label,
#split:focus + label, #gap:focus + label, .secs:focus + label  {
  visibility:hidden;
}

#chart {
  stroke:black;
  stroke-width:2px;
  transform:scaleY(-1); /* bottom-to-top: 0 to 1000 */
  min-width:492px;
}
#y {
  transform:scaleY(-1); /* ditto */
  pointer-events:none;
  height:1px;           /* must have initial value */
}
#canvas {
  fill:white;
  stroke:var(--medium-gray);
}
line, #crosshairs {
  fill:none;
  stroke-dasharray:4;
  stroke-width:1px;
}
line { /* #dashX, #dashY */
  stroke:#77F;
}
#crosshairs {
  stroke:#AAA;
}
#line {
  fill:none;
  stroke-width:4px;
  stroke-linejoin:round;
}
#trackY, #marksY {
  stroke:var(--medium-gray);
  stroke-width:2px;
  stroke-dasharray:none;
}
circle {
  r:12px;
  fill-opacity:0.5;
  stroke:var(--dark-blue);
  stroke-width:3px;
}

/* <div> */
#shadow {
  z-index:-1;
  pointer-events:none;
  position:absolute;
  top:var(--3-16ths);
  background-color:var(--bg-white);
  box-shadow:0 0 2px var(--pitch) inset;
}
#diptych {
  display:grid;
  grid-template-columns:1fr 1fr;
  padding-top:var(--9-16ths);
}
#triptych {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-top:0.25rem;
}
#left  {
  display:flex;
  justify-content:flex-end;
  text-align:end;
}
.lefty {
  padding-left:0.5rem;
}
#right {
  border-left:1px solid var(--medium-gray);
  padding-bottom:0;
}
#sidebar {  /* display:block; flex adds height for unknown reason */
  cursor:default;      /* everything the same, no I-Beam for text */
  padding:0.25rem 0.5rem;
  margin:0.5rem 0;
  border:1px solid #BBB;
  background-color:var(--sidebar-white);
}
#divStartEnd {
  display:grid;
  grid-template-columns:1fr var(--btn-size);
}
#divCopy {
  padding:var(--5-8ths) 0 0.5rem var(--8th);
}
#divSave {
  padding:0.5rem 0 0.5rem calc(5ch + var(--7-16ths));
}
#flip {
  margin-left:0;
  align-self:center;
  transform: rotateX(180deg);
}
.checklist, input.checklist {
  margin:0;
  padding-top:0.25rem;
}

/* <button> */
.clear, .lock, .link {
  font-family:"Material Symbols Rounded";
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 1.5rem;
}
.clear, .lock {
  font-size:   1.5rem;
}
.lock, .link{
  border-radius:var(--7-16ths);
}
.clear {
  font-weight:bold;
  margin-right:var(--8th);
  color:#700;
}
.lock {
  align-self:flex-start;
  color:var(--dark-gray);
}
.locked {
  color:var(--dark-blue);
}
.link {
  color:var(--darkest-blue);
  font-size:calc(1rem + var(--5-8ths));
  margin:0 var(--7-16ths);
}
#linkPow {
  margin:0 var(--3-16ths);
}
.linked {
  color:var(--medium-blue);
}

.clear:disabled, .lock:disabled {
  font-weight:normal;
  color:#AAA;
  background-color: transparent;
}
.clear:hover:not(:disabled) {
  color:#B00;
  background:radial-gradient(circle at center, #0002 0, #0000 70%);
}
.clear:active:hover{
  color:#D00;
  background:radial-gradient(circle at center, #0044 0, #0000 75%);
}
.lock:hover:not(:disabled),
.link:hover:not(:disabled) {
  background:radial-gradient(ellipse at center, #0002 0, #0000 80%);
}
.lock:active:hover,
.link:active:hover {
  background:radial-gradient(ellipse at center, #0044 0, #0000 90%);
}


/* miscellaneous */
.fixed {
  color:var(--pitch);
}
.comma {
  padding-right:var(--8th);
}
.emph { /* emphasis for sidebar labels */
  color:var(--dark-blue);
  font-weight:500;
}

.mr0   { margin-right: 0 }
.ml3-4 { margin-left:  0.75rem; }

.pr1-16 { padding-right:var(--16th); }

.pl1-2  { padding-left:0.5rem;      }
.pl1-8  { padding-left:var(--8th);  }
.pl1-16 { padding-left:var(--16th); }

.w3 { width:3rem; }
.w4 { width:4.1rem; } /* .1 is for Firefox, doesn't hurt Chome */

.lbl-paren {
  font-size: calc(1rem + var(--3-8ths));
  margin: 0;
  padding: 0;
  line-height: 25px;  /* vertical alignment scales better w/fixed px units */
  position: relative;
  top: calc(var(--16th) * -2);
}