@font-face {
  font-family:"Averia";
  src:url("/fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
}
@font-face {
  font-family:"Roboto";
  font-weight:400;
  src:url("/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family:"Roboto";
  font-weight:500;
  src:url("/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family:"Roboto Mono";
  font-weight:400;
  src:url("/fonts/RobotoMono.ttf") format("truetype");
}
@font-face {
  font-family:"Roboto Mono";
  font-weight:500;
  src:url("/fonts/RobotoMono.ttf") format("truetype");
}
@font-face {
  font-family:"Radio Canada Big";
  font-weight:400;
  src:url("/fonts/RadioCanadaBig-Regular.ttf") format("truetype");
}
@font-face {
  font-family:"Radio Canada Big";
  font-weight:500;
  src:url("/fonts/RadioCanadaBig-Medium.ttf") format("truetype");
}
@font-face {
  font-family:"Shippori Antique";
  font-weight:400;
  src:url("/fonts/ShipporiAntique-Regular.ttf") format("truetype");
}
img {
  align-self:center;
  margin-bottom:0.75rem;
}
img.scale {
  align-self:unset;
}
h1 {
  font-family:"Averia";
  font-size: 48px;
  font-weight:normal;
  margin:0 0 0 1rem;
  padding:0;
  vertical-align:middle;
}
h2, p.bullet {
  font-family:"Radio Canada Big";
  font-weight:500;
}
h2, img.sub{
  margin:0.75rem 0 0.5rem;
  font-size:23px;
}
p.bullet {
  margin:0.25rem 0 0.5rem;
  font-size:18px;
}
p {
  font-family:"Shippori Antique";
  margin:0 0 0.25rem;
}
p + p {
  margin-top: 0.5rem;
}
span {
  font-family:"Roboto Mono";
  font-weight:400;
}
span.bullet {
  font-family:"Radio Canada Big";
}
.rAF {
  font-family:"Roboto Mono";
  font-weight:500;
}
a {
  color:black;
}
a.bullet {
  color:black;
  text-decoration:none;
}
a:hover {
  color:rgb(0 0 204);
}
a:active:hover {
  color:purple;
}
.code {
  font-family:"Roboto Mono";
}